
<button type="button" (click)=deleteallStudents() >Delete all Students</button><br><br>
<button type="button" (click)=onLogout() >Logout</button><br><br>
<input type="text" name="id" [(ngModel)]=student.id placeholder="id"><br><br>
<input type="text" name="firstName"  [(ngModel)]=student.firstName placeholder="firstname" ><br><br>
<input type="text" name="lastName"  [(ngModel)]=student.lastName placeholder="lastname"><br><br>
<input type="text" name="email"  [(ngModel)]=student.email placeholder="email" ><br><br>
<input type="text" name="phone" [(ngModel)]=student.phone placeholder="phone"><br><br>

<button type="button" (click)="addUpdateStudent()">Add/Update student</button>

<li *ngFor="let s of students">
  {{s.id}} | {{s.firstName}} | {{s.lastName}} | {{s.email}} | {{s.phone}} 
  <button type="button" (click)="deleteLastStudent(s.id)" >Delete Student</button>
  <input type="button" value="Edit" (click)="editStudent(s)">

</li>





















